Source: adaptation-droidian-onclite
Maintainer: Bardia Moshiri
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-devices/adaptation-droidian-onclite
Vcs-Git: https://github.com/droidian-devices/adaptation-droidian-onclite.git

Package: adaptation-droidian-onclite
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris-api28-phone,
         adaptation-onclite-configs,
         linux-bootimage-xiaomi-onclite,
         wlr-randr,
Description: adaptation-onclite-meta
 onclite api28 adaptation metapackage

Package: adaptation-onclite-configs
Architecture: all
Depends: ${misc:Depends},
Description: onclite's adaptation configs
